* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.header {
}
.wrap-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.logo, .logo-menu, .company-info-container {
    display: inline-block;
}
.logo, .logo img{
    width: 300px;

}
.logo-menu {
    margin-left: 150px;
    margin-top: 24px;
    line-height: 1.4;
}
.logo-menu a{
    font-size: 18px;
    color : black;
}
.logo-menu a:hover {
    color: green;
}

.company-info-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap : 20px;
    width: 800px;
    line-height: 1.4;
    margin-left: 70px;
}
.phones-column a{
    font-size: 18px;
    color: black;
}
.phones-column {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.phones-column img {
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
.phone-vodafon {
    display: inline-flex;
    padding-top: 5px;
}
.phone-kiyvstar {
    display: inline-flex;
    padding-top: 5px;
}
.phone-lifecell {
    display: inline-flex;
    padding-top: 5px;
}

.call-me {
    display: flex;
    margin-left: 70px;
    height: 62.4px;
    margin-top: 24px;
    flex-direction: column;
    align-items: center;
}
.call-me a{
    font-size: 18px;
    color: black;
}

.call-me a:hover {
    color: green;
}
.time-working {
    max-height: 30px;
    font-size: 14px;
    color: dimgrey;
}
.phone-number-link {
    color: black;
}
.cart-info {
   margin-left: 100px;
   margin-top: 24px;
}
.cart-icon {
    display: flex;
    align-items: center;
    font-size: 18px;

}
.cart-icon img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.block-input-search {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}
.search-form {
    display: flex;
    align-items: center;
    border: 1px solid lightgreen;
    overflow: hidden;
    width: 100%;
}
.input-field {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
}
.search-button {
    border: none;
    background-color: lightgrey;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.search-button:hover {
    background-color: lightgreen;
    transition: 0.3s;
}
.search-button img {
    width: 22px;
    height: 22px;
}

.content-container {
    width: calc(100% - 254px);
}
.left-side, .content-container {
    display: inline-block;
    margin-top: 30px;
}
/*----------------------- каталог---------------------*/
.left-side {
    border: lightgreen solid 1px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
}
.categories {
    list-style-type: none;
}
.categories li {
    margin-top: 10px;
    position: relative;
    padding-left: 20px;
}
.categories ul {
    list-style: none;
    padding-left: 20px;
}
.categories a {
    font-size: 18px;
    color: black;
    display: block;
    padding: 5px;
    cursor: pointer;
}
.category-toggle::after {
    content: ">";
    margin-right: 20px;
    color: green;
    float: right;
    transition: transform 0.5s;
}
.open > .category-toggle::after {
    transform: rotate(90deg);
}
.subcategory {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
ul.subcategory {
    padding: 0;
    margin: 0;
}
.open > .subcategory {
   max-height: 1000px;
}
.categories a:hover {
    color: green;
}
.show-more-container {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
.content-container {
    margin-left: 30px;
}
.show-more {
    font-size: 18px;
    color: #02ea02;
    cursor: pointer;
    margin-left: 25px;
}
.show-more:hover {
    color: black;
}
/*----------------------- content-container---------------------*/
.advertisement {
    width: 100%;
    height: 300px;
    background-color: green;
}
.advertisement img {
    width: 100%;
    height: 100%;
}
.cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 255px);
    justify-content: center;
    justify-items: center;
    column-gap: 8px;
    row-gap: 40px;
    max-width: 1045px;
    margin-top: 30px;
    min-height: 860px;
    border: lightgreen solid 1px;
}

.card {
    display: flex;
    width: 240px;
    min-height: 400px;
    margin: 15px 15px 15px 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    border-radius: 3px;
    position: relative;
    transition: 0.2s;
}
.card:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}
.card-img img{
    width: 90%;
    height: 90%;
    margin-left: 12px;
    margin-top: 12px;
    transition: 0.3s;
}
.card-img img:hover {
    transform: scale(1.05);
}
.card-top {
    flex: 0 0 250px;
    position: relative;
}
.card-bottom {
    flex: 1 0 auto;
}
.card-discount {
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 4px 8px;
    background-color: darkorange;
}
.card-price {
    display: block;
    margin-left: 25px;
    text-align: center;
    font-size: 17px;
}
.card-price del {
    color: dimgrey;
}
.card-price > span > b {
    color: orangered;
}
.price {
    font-size: 17px;
    color: black;
    font-weight: 400;
}
.card-prices {
    max-height: 20px;
}
.card-title {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}
.card-title:hover {
    color: green;
    transition: 0.2s;
}
.to-cart-button {
    display: block;
    background-color: white;
    width: 90%;
    height: 40px;
    font-size: 18px;
    border: lightgreen solid 1px;
    color: green;
    margin-left: 12px;
    text-align: center;
    border-radius: 3.5px;
}
.to-cart-button:hover {
    background-color: green;
    color: white;
    transition: 0.3s;
}

/*----------------------- footer-container---------------------*/
.footer {
    background-color: #f1f1f1;
    margin-top: 40px;
}
.clear-fix {
    padding: 40px 0 40px;
    display: flex;
    width: 100%;
}
.info-column {
    display: inline-block;
    width: 25%;
    text-align: center;
}
.logo-work-time b{
    display: block;
    margin-bottom: 20px;
    font-size: 28px;
}
.logo-work-time p {
    display: block;
    font-size: 13px;
    padding-bottom: 10px;
}
.contacts-info b {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
}
.contacts-info p {
    display: block;
    font-size: 13px;
    padding-bottom: 10px;
}
.info-links {
    display: grid;
    justify-content: space-around;
    text-align: left;
}
.info-links b {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
}
.info-links a {
    font-size: 13px;
    color: black;
}
.info-links a:hover {
    color: green;
    transition: 0.3s;
}
.info-links ul li {
    display: block;
    font-size: 13px;
    padding-bottom: 10px;
}
.describe-field p {
    display: block;
    margin-top: 20px;
    font-size: 15px;
}
.search-form-footer {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.input-name-field {
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}
.input-email-field {
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}
.search-button-footer {
    border: none;
    background-color: lightgrey;
    width: 90px;
    height: 35px;
    cursor: pointer;
    border-radius: 3px;
}
.search-button-footer:hover {
    background-color: lightgreen;
    transition: 0.3s;
}
